mixin support
  .support
    .support__container.container
      .row
        .col-12.col-lg-7
          h2.support__title Try our great support!
          p.support__description.large-text This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
          p.support__description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
          p.support__description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
        .col-12.col-lg-5
          .support__wrapper-img
            img.support__img(src="./images/iphone.png", alt="Phone")