mixin support
  .support
    .support__container.container
      h2.support__title Try our great support!
      p.support__description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
      p.support__description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
      p.support__description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!