mixin download
  .download
    .container
      .row
        .col-12.col-lg-10.offset-lg-1
          .download__wrapper
              .download__description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
              a.download__button.button.button_orange(href="./") Download now