$color-white:               #ffffff;
$color-white-opacity75:     rgba($color-white, .75);
$color-white-opacity8:      rgba($color-white, .8);
$color-white-opacity6:      rgba($color-white, .6);
$color-black:               #000000;
$color-gray-brown:          #444444;
$color-mango-tango:         #ff8a38;
$color-yellow-orange:       #ffb24b;
$color-dull-gray:           #444444;
$color-smoky-white:         #eeeeee;
$color-gainsborough:        #dddddd;
$color-midnight-black:      #1a237e;
$color-purple-blue-craiola: #3949ab;
$color-protective-blue:     #2196f3;
$color-dribble:             #ea4c89;
$color-telemagents:         #cc2c70;
$color-lavender-craiola:    #fbabc2;
$color-pinterest:           #e60023;
$color-scarlet:             #ad081b;
$color-rose-lilac:          #ea8f9a;
$color-turquoise:           #00bcd4;
$color-deep-blue:           #3f51b5;
$color-american-pink:       #f50057;
$color-amber:               #ffc107;
$color-wet-asphalt:         #666666;
$color-canvas-gray:         #555555;
$color-white-aluminum:      #aaaaaa;