$color-white: #ffffff;
$color-white-opacity75: rgba($color-white, .75);
$color-white-opacity8: rgba($color-white, .8);
$color-white-opacity6: rgba($color-white, .6);
$color-black-opacity2: rgba(0, 0, 0, 0.2);