$color-white:               #ffffff;
$color-white-opacity75:     rgba($color-white, .75);
$color-white-opacity8:      rgba($color-white, .8);
$color-white-opacity6:      rgba($color-white, .6);
$color-black:               #000000;
$color-gray-brown:          #444444;
$color-mango-tango:         #ff8a38;
$color-yellow-orange:       #ffb24b;