mixin portfolio
  .portfolio
    .container
      h2.portfolio__title Our portfolio
      p.portfolio__description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
      .row
        .col-12.col-md-4
          .portfolio__image-container
            img.portfolio__image.image-cover(src="./images/mountain.jpg" alt="Mountain")
          a.portfolio__link(href="./" title="Acme branding") Acme branding
          time.portfolio__date  MARCH 2018
          p.portfolio__text This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
        .col-12.col-md-4
          .portfolio__image-container
            img.portfolio__image.image-cover(src="./images/vinyl.jpg" alt="Vinyl")
          a.portfolio__link(href="./" title="Acme branding") Acme branding
          time.portfolio__date  MARCH 2018
          p.portfolio__text This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
        .col-12.col-md-4
          .portfolio__image-container
            img.portfolio__image.image-cover(src="./images/e.jpg" alt="Building")
          a.portfolio__link(href="./" title="Acme branding") Acme branding
          time.portfolio__date  MARCH 2018
          p.portfolio__text This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
      button.portfolio__button.button.button_orange Load more