mixin portfolio
  .portfolio
    .container
      h2.portfolio__title Our portfolio
      p.portfolio__description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
      .row
        .col-12.col-md-4
          img.portfolio__work-image(src="" alt="")
          h3.portfolio__work-title Acme branding
          time.portfolio__work-date  MARCH 2018
          p.portfolio__work-description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
        .col-12.col-md-4
          img.portfolio__work-image(src="" alt="")
          h3.portfolio__work-title Acme branding
          time.portfolio__work-date  MARCH 2018
          p.portfolio__work-description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
        .col-12.col-md-4
          img.portfolio__work-image(src="" alt="")
          h3.portfolio__work-title Acme branding
          time.portfolio__work-date  MARCH 2018
          p.portfolio__work-description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
      button.portfolio__button.button.button_orange Load more