extends ../modules/layout/layout.pug

include ../modules/services/services.pug
include ../modules/download/download.pug
include ../modules/portfolio/portfolio.pug
include ../modules/review/review.pug
include ../modules/blog/blog.pug
include ../modules/support/support.pug
include ../modules/preview/preview.pug

block page
  -
    var data1 = [
      ['Branding', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.'],
      ['Web design', ' Ut wisi enim ad minim veniam, quis nostrud. Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.'],
      ['Social media', 'Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat']
    ];
    var data2 = [
      ['Branding', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.'],
      ['Web design', ' Ut wisi enim ad minim veniam, quis nostrud. Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.'],
      ['Social media', 'Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat'],
      ['Branding', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.']
    ];
  main.main
    +preview
    +services({ cols: 3, data: data1 })
    +support  
    +services({ cols: 2, data: data2 })
    +download
    +portfolio
    +review
    +blog