extends ../modules/layout/layout.pug

block page
  main.main
    .input
      input.input__field(type="text" placeholder="Введите или выберите из списка")
    .icons
      +icon('52', 'icon-52')
      +icon('73', 'icon-73')
      +icon('25', 'icon-25')