mixin blog
  .blog
    .container
      h2.blog__title From the blog
      .row
        .col-12.col-md-6
          img.blog__post-image(src="" alt="")
          h3.blog__post-title Ut wisi enim ad minim 
          time.blog__post-date 17 SEPTEMBER 2018
          p.blog__post-description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
        .col-12.col-md-6
          img.blog__post-image(src="" alt="")
          h3.blog__post-title Ut wisi enim ad minim 
          time.blog__post-date 17 SEPTEMBER 2018
          p.blog__post-description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
        .col-12.col-md-6
          img.blog__post-image(src="" alt="")
          h3.blog__post-title Ut wisi enim ad minim 
          time.blog__post-date 17 SEPTEMBER 2018
          p.blog__post-description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
        .col-12.col-md-6
          img.blog__post-image(src="" alt="")
          h3.blog__post-title Ut wisi enim ad minim 
          time.blog__post-date 17 SEPTEMBER 2018
          p.blog__post-description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
      a.blog__button.button.button_orange(href="./") Visit the blog