mixin review
  .review
    .review__slider
      .review__slide
        img.review__slide-image(src="" alt="")
        blockquote.review__slide-quote "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..."
          cite.review__slide-cite
            a.review__slide-link(href="./") Minim Veniam, nostrud.com
      .review__slide
        img.review__slide-image(src="" alt="")
        blockquote.review__slide-quote "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..."
          cite.review__slide-cite
            a.review__slide-link(href="./") Minim Veniam, nostrud.com
      .review__slide
        img.review__slide-image(src="" alt="")
        blockquote.review__slide-quote "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..."
          cite.review__slide-cite
            a.review__slide-link(href="./") Minim Veniam, nostrud.com
      .review__slide
        img.review__slide-image(src="" alt="")
        blockquote.review__slide-quote "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..."
          cite.review__slide-cite
            a.review__slide-link(href="./") Minim Veniam, nostrud.com