// .footer {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-shrink: 0;
//   height: 100px;
//   border-top: 2px dashed blue;
// }

.footer {
  background-color: $color-gray-brown;
  flex-shrink: 0;
}

.footer__form {

}

.footer__title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  font-style: italic;
  color: $color-white-aluminum;
}

.footer__field {

}

.footer__message {

}

.footer__button {

}

.footer__social {
  display: flex;
}

.footer__social-item {
  margin-right: 10px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba($color-white, .54);
  width: 60px;
  height: 60px;
  background: $color-wet-asphalt;
  fill: $color-gainsborough;

  &:hover {
    animation: Gradient 2s ease infinite;
    fill: $color-smoky-white;
  }
}

.footer__social-link_facebook {
  &:hover {
    box-shadow: 0 5px 8px rgba($color-midnight-black, .5);
    background: $color-purple-blue-craiola;
    background: linear-gradient(to right, $color-purple-blue-craiola 0%, $color-protective-blue 100%);
    background-size: 400%;
  }
}

.footer__social-link_dribbble {
  &:hover {
    box-shadow: 0 5px 8px rgba($color-lavender-craiola, .25);
    background: $color-dribble;
    background: linear-gradient(to right, $color-dribble 0%, $color-telemagents 100%);
    background-size: 400%;
  }
}

.footer__social-link_twitter {
  &:hover {
    box-shadow: 0 5px 8px rgba($color-protective-blue, .25);
    background: $color-turquoise;
    background: linear-gradient(to right, $color-turquoise 0%, $color-protective-blue 100%);
    background-size: 400%;
  }
}

.footer__social-link_instagram {
  &:hover {
    box-shadow: 0 5px 8px rgba($color-deep-blue, .25);
    background: $color-amber;
    background: linear-gradient(to right, $color-amber 0%, $color-american-pink 50%, $color-deep-blue 100%);
    background-size: 400%;
  }
}

.footer__social-link_pinterest {
  &:hover {
    box-shadow: 0 5px 8px rgba($color-rose-lilac, .25);
    background: $color-pinterest;
    background: linear-gradient(to right, $color-pinterest 0%, $color-scarlet 100%);
    background-size: 400%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.footer__social-icon {
  width: 32px;
  height: 32px;
}

.footer__copyright {

}

.footer__top {
  height: 80px;
  background-color: $color-black-brown;
}