mixin preview
  .preview
    .preview__logo
    h1.preview__title Maren one page template
    p.preview__description This is a free responsive one page template made with the Bootstrap framework. Check it out now. Download it, customize and use it as you like!
    .preview__buttons
      a.preview__button.button.button_orange(href="./") Download it
      a.preview__button.button(href="./") Learn more